* {
    margin: 0; padding: 0;
    box-sizing: border-box;
  }
  
  ul { list-style-type: none;}
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
  }
  
  #main_header {
    position: fixed;
    width: 100%;
    background: #D88DA5;
    height: 80px;
    z-index: 999;
  }
  
  #main_header .container {
    position: relative;
  }
  
  #main_header h1 {
    position: absolute;
    top: 14px;
    padding-left: 100px;
  }
  #main_header h1 > a { 
    color: #FFF6F9; 
    font-size: 30px;
  }
  
  #gnb {
    position: absolute;
    right: 0; top: 25px;
  }
  
  #gnb a { color: #585556; }
  
  #gnb > ul > li {
    float: left;
    margin-left: 20px;
    margin-right: 50px;
    text-transform: uppercase;
  }
  
  #gnb > ul > li > a {
    display: block;
  }
  
  #gnb > ul > li > a:hover {
    border-bottom: 4px solid #FA1460;
  }

  #maimvisual {
    width: 100%;
    height: 100vh;
    background: url(./imgaes/pexels-photo-7034390.jpg);
    background-size: cover;
    background-position: center;
  }

  #about .container {
    padding-top : 100px;
    padding-bottom: 100px;
    color: #585556;
}

#about .container a {
    font-size : 30px;
    color : #D88DA5;
    text-align: center;
}

#about h1{
    font-size : 35px;
    color : #D88DA5;
    text-align: center;
    padding-bottom: 20px;
}

#about .maintext{
    font-size: 22px;
    color: #585556;
    text-align: left;
}

#about .profile {
    padding-top: 20px;
    padding-bottom: 20px;
} 

#about .skilimg {
    margin-top: 20px;
}


footer {
  width: 100%;
  background: #D88DA5;
  height: 200px;
  z-index: 999;
  margin-top: 125px;
  color: #ffff;
}

#contact .text {
  margin-left: 70px;
}

#contact a { color: #585556; }

#contact .text h2 {
  font-size: 35px;
  padding-top: 15px;
  margin-bottom: 21px;
 }

 #contact  ul  li {
   color: #585556;
   margin-bottom: 14px;
 }
 