/* style.css */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
  }
  
  ul { list-style-type: none;}
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
  }
  
  #main_header {
    position: fixed;
    width: 100%;
    background: #D88DA5;
    height: 80px;
    z-index: 999;
  }
  
  #main_header .container {
    position: relative;
  }
  
  #main_header h1 {
    position: absolute;
    top: 14px;
  }
  #main_header h1 > a { 
    color: #FFF6F9; 
    font-size: 30px;
  }
  
  #gnb {
    position: absolute;
    right: 0; top: 25px;
  }
  
  #gnb a { color: #FFF6F9; }
  
  #gnb > ul > li {
    float: left;
    margin-left: 20px;
    margin-right: 50px;
    text-transform: uppercase;
  }
  
  #gnb > ul > li > a {
    display: block;
  }
  
  #gnb > ul > li > a:hover {
    border-bottom: 4px solid #FFF6F9
  }

  #maimvisual {
    width: 100%;
    height: 100vh;
    background: url(./imgaes/mainv.jpg);
    background-size: cover;
    background-position: center;
  }

  #portfolio .container {
    padding-top : 100px;
    padding-bottom: 100px;
}

#portfolio .container a {
    font-size : 30px;
    color : #D88DA5;
    text-align: center;
}
#portfolio h2{
    font-size : 22px;
    color : #D88DA5;
    text-align: center;
}

.list li {
    overflow : hidden;
    margin : 10px;
    /* outline : 1px solid green; */
}

.list img {
    /* width: 100%; */
    display: inline-block;
}
.list li:hover img{
  opacity:0.2;
}

footer {
  width: 100%;
  background: #D88DA5;
  height: 200px;
  z-index: 999;
  margin-top: 125px;
  color: #FFF6F9;
}

#contact .text {
  margin-left: 70px;
}

#contact a { color:#FFF6F9; }

#contact .text h2 {
  font-size: 35px;
  padding-top: 15px;
  margin-bottom: 21px;
 }

 #contact  ul  li {
   color: #FFF6F9;
   margin-bottom: 14px;
 }
 
/*서브페이지*/

#project1{
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media screen & (max-width: 768px) {

}
  